.load {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: var(--gray);
}

.circle_box {
	position: relative;
    margin: calc(50% - 75px);
    margin-top: calc(50vh - 75px);
    width: fit-content;
    height: fit-content;
}

.circle {
    position: fixed;
    background: url("../img/polytech_logo_black.png");
    background-color: var(--green);
    background-blend-mode: multiply !important;
    mix-blend-mode: lighten !important;
    width: 150px;
    height: 150px;
    animation: cicrle_rotate infinite 1s linear;

}

@keyframes cicrle_rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.circle_box>p {
	display: none;
	position: absolute;
	width: 300px;
	top: 150px;
	left: -30px;
/*	opacity: 0;*/
}
